In [1]:
import pandas as pd

In [2]:
raw_csv_data = pd.read_csv('Absenteeism_data.csv')

# Raw to DataFrame

In [3]:
df = raw_csv_data.copy()

In [4]:
pd.options.display.max_columns = None
pd.options.display.max_rows = None

# Exploring the data set - ID

'id' indicates who has been away during working hours. this information doesn't contain any numeric information (nominal data)

In [6]:
df = df.drop(['ID'], axis = 1)

# Exploring the data set - 'Reasons for Absence'

In [7]:
df['Reason for Absence'].unique()

array([26,  0, 23,  7, 22, 19,  1, 11, 14, 21, 10, 13, 28, 18, 25, 24,  6,
       27, 17,  8, 12,  5,  9, 15,  4,  3,  2, 16], dtype=int64)

In [8]:
reason_columns = pd.get_dummies(df['Reason for Absence'])

If a person has been absent due to reason 0, this means they have been away from work for an unknown reason. Hence, this column acts like the baseline, and all the rest are represented in comparison to this.

In [9]:
reason_columns = pd.get_dummies(df['Reason for Absence'], drop_first = True)

Grouping the variables

- Group 1 = reason no 01 to 14 = regarding to diseases
- Group 2 = reason no 15 to 17 = regarding to pregnancy 
- Group 3 = reason no 18 to 21 = regarding to poisoning
- Group 4 = reason no 22 to 28 = regarding to light reasons for absence

In [11]:
reason_1 = reason_columns.loc[:, 1:14]. max(axis = 1)
reason_2 = reason_columns.loc[:, 15:17]. max(axis = 1)
reason_3 = reason_columns.loc[:, 18:21]. max(axis = 1)
reason_4 = reason_columns.loc[:, 22:28]. max(axis = 1)

Merge the dummies to the table

In [12]:
df = pd.concat([reason_1, reason_2, reason_3, reason_4,df], axis = 1)

In [13]:
df.columns.values

array([0, 1, 2, 3, 'Reason for Absence', 'Date', 'Transportation Expense',
       'Distance to Work', 'Age', 'Daily Work Load Average',
       'Body Mass Index', 'Education', 'Children', 'Pets',
       'Absenteeism Time in Hours'], dtype=object)

In [14]:
df = df.drop(['Reason for Absence'], axis = 1)

In [15]:
renamed_columns = ['Reason 1', 'Reason 2', 'Reason 3', 'Reason 4', 'Date', 'Transportation Expense',
       'Distance to Work', 'Age', 'Daily Work Load Average',
       'Body Mass Index', 'Education', 'Children', 'Pets',
       'Absenteeism Time in Hours']

In [16]:
df.columns = renamed_columns

# Checkpoint - df_reasons

In [18]:
df_reasons = df.copy()

# Exploring the data set - 'Date'

Date column

In [19]:
type(df_reasons['Date'][0])

str

In [20]:
df_reasons['Date'] = pd.to_datetime(df_reasons['Date'], format = ('%d/%m/%Y'))

Extract month value

In [22]:
df_reasons['Date'][0].month

7

In [23]:
list_month = []

In [24]:
for i in range(df_reasons.shape[0]):
    list_month.append(df_reasons['Date'][i].month)

In [25]:
df_reasons['Month value'] = list_month

In [26]:
df_reasons.head()

,Reason 1,Reason 2,Reason 3,Reason 4,Date,Transportation Expense,Distance to Work,Age,Daily Work Load Average,Body Mass Index,Education,Children,Pets,Absenteeism Time in Hours,Month value
0,0,0,0,1,2015-07-07,289,36,33,239.554,30,1,2,1,4,7
1,0,0,0,0,2015-07-14,118,13,50,239.554,31,1,1,0,0,7
2,0,0,0,1,2015-07-15,179,51,38,239.554,31,1,0,0,2,7
3,1,0,0,0,2015-07-16,279,5,39,239.554,24,1,2,0,4,7
4,0,0,0,1,2015-07-23,289,36,33,239.554,30,1,2,1,2,7

drop 'Date' and re-ordered columns

In [27]:
df_reasons = df_reasons.drop(['Date'], axis = 1)

In [28]:
df_reasons.columns.values

array(['Reason 1', 'Reason 2', 'Reason 3', 'Reason 4',
       'Transportation Expense', 'Distance to Work', 'Age',
       'Daily Work Load Average', 'Body Mass Index', 'Education',
       'Children', 'Pets', 'Absenteeism Time in Hours', 'Month value'],
      dtype=object)

In [29]:
reordered_columns = ['Reason 1', 'Reason 2', 'Reason 3', 'Reason 4', 'Month value','Transportation Expense', 'Distance to Work', 'Age',
       'Daily Work Load Average', 'Body Mass Index', 'Education',
       'Children', 'Pets', 'Absenteeism Time in Hours']

In [30]:
df_reasons = df_reasons.reindex(columns = reordered_columns)

In [31]:
df_reasons.head()

,Reason 1,Reason 2,Reason 3,Reason 4,Month value,Transportation Expense,Distance to Work,Age,Daily Work Load Average,Body Mass Index,Education,Children,Pets,Absenteeism Time in Hours
0,0,0,0,1,7,289,36,33,239.554,30,1,2,1,4
1,0,0,0,0,7,118,13,50,239.554,31,1,1,0,0
2,0,0,0,1,7,179,51,38,239.554,31,1,0,0,2
3,1,0,0,0,7,279,5,39,239.554,24,1,2,0,4
4,0,0,0,1,7,289,36,33,239.554,30,1,2,1,2

# Checkpoint - df_reasons_date

In [32]:
df_reasons_date = df_reasons.copy()

# Exploring the data set - 'Education'

In [33]:
df_reasons_date['Education'].value_counts()

1    583
3     73
2     40
4      4
Name: Education, dtype: int64

In [34]:
df_reasons_date['Education'] = df_reasons_date['Education'].map({1:0, 2:1, 3:1, 4:1})

In [35]:
df_reasons_date['Education'].value_counts()

0    583
1    117
Name: Education, dtype: int64

In [36]:
df_reasons_date = df_reasons_date.drop(['Absenteeism Time in Hours'], axis = 1)

In [37]:
df_reasons_date = df_reasons_date.drop(['Daily Work Load Average'], axis = 1)

In [38]:
df_reasons_date = df_reasons_date.drop(['Distance to Work'], axis = 1)

# Final Checkpoint df_final_cp

In [39]:
df_final_cp = df_reasons_date.copy()

# Obtaining the Probability and Prediction

the module was provided by the organization

In [41]:
from absenteeism_module import *

In [42]:
model = absenteeism_model('model', 'scaler')

C:\Users\user\Anaconda3\lib\site-packages\sklearn\base.py:311: UserWarning: Trying to unpickle estimator LogisticRegression from version 0.19.1 when using version 0.19.2. This might lead to breaking code or invalid results. Use at your own risk.
  UserWarning)
C:\Users\user\Anaconda3\lib\site-packages\sklearn\base.py:311: UserWarning: Trying to unpickle estimator StandardScaler from version 0.19.1 when using version 0.19.2. This might lead to breaking code or invalid results. Use at your own risk.
  UserWarning)

In [43]:
model.load_and_clean_data('Absenteeism_new_data.csv')

In [44]:
df_new_obs = model.predicted_outputs()

In [45]:
df_new_obs.head()

,Reason_1,Reason_2,Reason_3,Reason_4,Month Value,Transportation Expense,Age,Body Mass Index,Education,Children,Pet,Probability,Prediction
0,0,0.0,0,1,6,179,30,19,1,0,0,0.105075,0
1,1,0.0,0,0,6,361,28,27,0,1,4,0.810120,1
2,0,0.0,0,1,6,155,34,25,0,2,0,0.241170,0
3,0,0.0,0,1,6,179,40,22,1,2,0,0.160729,0
4,1,0.0,0,0,6,155,34,25,0,2,0,0.751491,1

# Import to SQL

In [46]:
import pymysql

In [47]:
conn = pymysql.connect(database = 'predicted_outputs', user = 'root', password = 'The chaconne00')

In [48]:
cursor = conn.cursor()

checkpoints

In [49]:
df_new_obs.columns.values

array(['Reason_1', 'Reason_2', 'Reason_3', 'Reason_4', 'Month Value',
       'Transportation Expense', 'Age', 'Body Mass Index', 'Education',
       'Children', 'Pet', 'Probability', 'Prediction'], dtype=object)

In [50]:
cursor.execute('SELECT * FROM predicted_outputs;')

0

In [51]:
df_new_obs[df_new_obs.columns.values[0:12]]

,Reason_1,Reason_2,Reason_3,Reason_4,Month Value,Transportation Expense,Age,Body Mass Index,Education,Children,Pet,Probability
0,0,0.0,0,1,6,179,30,19,1,0,0,0.105075
1,1,0.0,0,0,6,361,28,27,0,1,4,0.810120
2,0,0.0,0,1,6,155,34,25,0,2,0,0.241170
3,0,0.0,0,1,6,179,40,22,1,2,0,0.160729
4,1,0.0,0,0,6,155,34,25,0,2,0,0.751491
5,1,0.0,0,0,6,225,28,24,0,1,2,0.692978
6,1,0.0,0,0,6,118,46,25,0,2,0,0.632960
7,0,0.0,0,1,6,179,30,19,1,0,0,0.105075
8,0,0.0,0,1,6,118,37,28,0,0,0,0.133915
9,1,0.0,0,0,6,118,37,28,0,0,0,0.595337
10,0,0.0,0,1,6,378,36,21,0,2,4,0.286105
11,0,0.0,1,0,6,118,50,31,0,1,0,0.756993
12,0,0.0,1,0,6,233,31,21,1,1,8,0.221894
13,0,0.0,0,1,6,179,30,19,1,0,0,0.105075
14,0,0.0,0,0,6,235,48,33,0,1,5,0.066559
15,0,0.0,0,0,6,268,33,25,1,0,0,0.188043
16,0,0.0,1,0,6,118,50,31,0,1,0,0.756993
17,1,0.0,0,0,6,179,30,19,1,0,0,0.527669
18,0,0.0,0,1,6,291,40,25,0,1,1,0.326469
19,1,0.0,0,0,7,179,30,19,1,0,0,0.543492
20,0,0.0,0,1,7,118,37,28,0,0,0,0.141467
21,0,0.0,0,1,7,233,31,21,1,1,8,0.017512
22,1,0.0,0,0,7,118,37,28,0,0,0,0.610567
23,1,0.0,0,0,7,118,37,28,0,0,0,0.610567
24,0,0.0,0,1,7,233,31,21,1,1,8,0.017512
25,0,0.0,0,1,7,235,43,38,0,1,0,0.477286
26,0,0.0,1,0,7,233,31,21,1,1,8,0.233072
27,1,0.0,0,0,7,228,58,22,0,2,1,0.683749
28,0,0.0,0,1,7,118,37,28,0,0,0,0.141467
29,1,0.0,0,0,7,228,58,22,0,2,1,0.683749
30,0,0.0,0,1,7,189,33,25,0,2,2,0.187752
31,0,0.0,0,1,7,118,37,28,0,0,0,0.141467
32,0,0.0,0,1,7,361,28,27,0,1,4,0.323344
33,0,0.0,0,1,7,225,28,24,0,1,2,0.201788
34,1,0.0,0,0,7,369,31,25,0,3,0,0.964602
35,1,0.0,0,0,7,289,33,30,0,2,1,0.906619
36,1,0.0,0,0,7,235,37,29,1,1,1,0.731839
37,0,0.0,0,0,7,118,40,34,0,1,8,0.012369
38,0,0.0,0,0,7,231,39,35,0,2,2,0.266691
39,0,0.0,0,0,7,179,53,25,0,1,1,0.096073

In [52]:
ddf_new_obs = model.predicted_outputs()

# Creating the insert statement

In [53]:
insert_query = 'INSERT INTO predicted_outputs VALUES '

In [54]:
for i in range(df_new_obs.shape[0]):
    insert_query += '(' 
    
    for j in range(df_new_obs.shape[1]):
        insert_query += str(df_new_obs[df_new_obs.columns.values[j]][i]) + ', '
    
    insert_query = insert_query[:-2] + '), '

In [55]:
insert_query

'INSERT INTO predicted_outputs VALUES (0, 0.0, 0, 1, 6, 179, 30, 19, 1, 0, 0, 0.1050748143291057, 0), (1, 0.0, 0, 0, 6, 361, 28, 27, 0, 1, 4, 0.810119898086104, 1), (0, 0.0, 0, 1, 6, 155, 34, 25, 0, 2, 0, 0.24117044969973478, 0), (0, 0.0, 0, 1, 6, 179, 40, 22, 1, 2, 0, 0.16072924168708813, 0), (1, 0.0, 0, 0, 6, 155, 34, 25, 0, 2, 0, 0.7514912643313632, 1), (1, 0.0, 0, 0, 6, 225, 28, 24, 0, 1, 2, 0.6929781448353303, 1), (1, 0.0, 0, 0, 6, 118, 46, 25, 0, 2, 0, 0.6329602375469388, 1), (0, 0.0, 0, 1, 6, 179, 30, 19, 1, 0, 0, 0.1050748143291057, 0), (0, 0.0, 0, 1, 6, 118, 37, 28, 0, 0, 0, 0.13391462868552698, 0), (1, 0.0, 0, 0, 6, 118, 37, 28, 0, 0, 0, 0.5953371990526135, 1), (0, 0.0, 0, 1, 6, 378, 36, 21, 0, 2, 4, 0.28610549839232, 0), (0, 0.0, 1, 0, 6, 118, 50, 31, 0, 1, 0, 0.7569925957613495, 1), (0, 0.0, 1, 0, 6, 233, 31, 21, 1, 1, 8, 0.22189357696108014, 0), (0, 0.0, 0, 1, 6, 179, 30, 19, 1, 0, 0, 0.1050748143291057, 0), (0, 0.0, 0, 0, 6, 235, 48, 33, 0, 1, 5, 0.0665590726801133, 0), (0, 0.0, 0, 0, 6, 268, 33, 25, 1, 0, 0, 0.18804298582412018, 0), (0, 0.0, 1, 0, 6, 118, 50, 31, 0, 1, 0, 0.7569925957613495, 1), (1, 0.0, 0, 0, 6, 179, 30, 19, 1, 0, 0, 0.5276685343597127, 1), (0, 0.0, 0, 1, 6, 291, 40, 25, 0, 1, 1, 0.32646901379851917, 0), (1, 0.0, 0, 0, 7, 179, 30, 19, 1, 0, 0, 0.543491979581516, 1), (0, 0.0, 0, 1, 7, 118, 37, 28, 0, 0, 0, 0.14146688138416358, 0), (0, 0.0, 0, 1, 7, 233, 31, 21, 1, 1, 8, 0.017511983341024603, 0), (1, 0.0, 0, 0, 7, 118, 37, 28, 0, 0, 0, 0.6105667631385643, 1), (1, 0.0, 0, 0, 7, 118, 37, 28, 0, 0, 0, 0.6105667631385643, 1), (0, 0.0, 0, 1, 7, 233, 31, 21, 1, 1, 8, 0.017511983341024603, 0), (0, 0.0, 0, 1, 7, 235, 43, 38, 0, 1, 0, 0.4772856504385141, 0), (0, 0.0, 1, 0, 7, 233, 31, 21, 1, 1, 8, 0.23307225933833162, 0), (1, 0.0, 0, 0, 7, 228, 58, 22, 0, 2, 1, 0.6837485499190792, 1), (0, 0.0, 0, 1, 7, 118, 37, 28, 0, 0, 0, 0.14146688138416358, 0), (1, 0.0, 0, 0, 7, 228, 58, 22, 0, 2, 1, 0.6837485499190792, 1), (0, 0.0, 0, 1, 7, 189, 33, 25, 0, 2, 2, 0.1877515810858458, 0), (0, 0.0, 0, 1, 7, 118, 37, 28, 0, 0, 0, 0.14146688138416358, 0), (0, 0.0, 0, 1, 7, 361, 28, 27, 0, 1, 4, 0.3233444855579362, 0), (0, 0.0, 0, 1, 7, 225, 28, 24, 0, 1, 2, 0.20178842764749713, 0), (1, 0.0, 0, 0, 7, 369, 31, 25, 0, 3, 0, 0.9646018697022684, 1), (1, 0.0, 0, 0, 7, 289, 33, 30, 0, 2, 1, 0.9066189840747448, 1), (1, 0.0, 0, 0, 7, 235, 37, 29, 1, 1, 1, 0.7318389674842187, 1), (0, 0.0, 0, 0, 7, 118, 40, 34, 0, 1, 8, 0.012369097946649985, 0), (0, 0.0, 0, 0, 7, 231, 39, 35, 0, 2, 2, 0.2666906934556679, 0), (0, 0.0, 0, 0, 7, 179, 53, 25, 0, 1, 1, 0.0960731564962269, 0), '

In [56]:
insert_query = insert_query[:-2] + ';'

In [57]:
insert_query

'INSERT INTO predicted_outputs VALUES (0, 0.0, 0, 1, 6, 179, 30, 19, 1, 0, 0, 0.1050748143291057, 0), (1, 0.0, 0, 0, 6, 361, 28, 27, 0, 1, 4, 0.810119898086104, 1), (0, 0.0, 0, 1, 6, 155, 34, 25, 0, 2, 0, 0.24117044969973478, 0), (0, 0.0, 0, 1, 6, 179, 40, 22, 1, 2, 0, 0.16072924168708813, 0), (1, 0.0, 0, 0, 6, 155, 34, 25, 0, 2, 0, 0.7514912643313632, 1), (1, 0.0, 0, 0, 6, 225, 28, 24, 0, 1, 2, 0.6929781448353303, 1), (1, 0.0, 0, 0, 6, 118, 46, 25, 0, 2, 0, 0.6329602375469388, 1), (0, 0.0, 0, 1, 6, 179, 30, 19, 1, 0, 0, 0.1050748143291057, 0), (0, 0.0, 0, 1, 6, 118, 37, 28, 0, 0, 0, 0.13391462868552698, 0), (1, 0.0, 0, 0, 6, 118, 37, 28, 0, 0, 0, 0.5953371990526135, 1), (0, 0.0, 0, 1, 6, 378, 36, 21, 0, 2, 4, 0.28610549839232, 0), (0, 0.0, 1, 0, 6, 118, 50, 31, 0, 1, 0, 0.7569925957613495, 1), (0, 0.0, 1, 0, 6, 233, 31, 21, 1, 1, 8, 0.22189357696108014, 0), (0, 0.0, 0, 1, 6, 179, 30, 19, 1, 0, 0, 0.1050748143291057, 0), (0, 0.0, 0, 0, 6, 235, 48, 33, 0, 1, 5, 0.0665590726801133, 0), (0, 0.0, 0, 0, 6, 268, 33, 25, 1, 0, 0, 0.18804298582412018, 0), (0, 0.0, 1, 0, 6, 118, 50, 31, 0, 1, 0, 0.7569925957613495, 1), (1, 0.0, 0, 0, 6, 179, 30, 19, 1, 0, 0, 0.5276685343597127, 1), (0, 0.0, 0, 1, 6, 291, 40, 25, 0, 1, 1, 0.32646901379851917, 0), (1, 0.0, 0, 0, 7, 179, 30, 19, 1, 0, 0, 0.543491979581516, 1), (0, 0.0, 0, 1, 7, 118, 37, 28, 0, 0, 0, 0.14146688138416358, 0), (0, 0.0, 0, 1, 7, 233, 31, 21, 1, 1, 8, 0.017511983341024603, 0), (1, 0.0, 0, 0, 7, 118, 37, 28, 0, 0, 0, 0.6105667631385643, 1), (1, 0.0, 0, 0, 7, 118, 37, 28, 0, 0, 0, 0.6105667631385643, 1), (0, 0.0, 0, 1, 7, 233, 31, 21, 1, 1, 8, 0.017511983341024603, 0), (0, 0.0, 0, 1, 7, 235, 43, 38, 0, 1, 0, 0.4772856504385141, 0), (0, 0.0, 1, 0, 7, 233, 31, 21, 1, 1, 8, 0.23307225933833162, 0), (1, 0.0, 0, 0, 7, 228, 58, 22, 0, 2, 1, 0.6837485499190792, 1), (0, 0.0, 0, 1, 7, 118, 37, 28, 0, 0, 0, 0.14146688138416358, 0), (1, 0.0, 0, 0, 7, 228, 58, 22, 0, 2, 1, 0.6837485499190792, 1), (0, 0.0, 0, 1, 7, 189, 33, 25, 0, 2, 2, 0.1877515810858458, 0), (0, 0.0, 0, 1, 7, 118, 37, 28, 0, 0, 0, 0.14146688138416358, 0), (0, 0.0, 0, 1, 7, 361, 28, 27, 0, 1, 4, 0.3233444855579362, 0), (0, 0.0, 0, 1, 7, 225, 28, 24, 0, 1, 2, 0.20178842764749713, 0), (1, 0.0, 0, 0, 7, 369, 31, 25, 0, 3, 0, 0.9646018697022684, 1), (1, 0.0, 0, 0, 7, 289, 33, 30, 0, 2, 1, 0.9066189840747448, 1), (1, 0.0, 0, 0, 7, 235, 37, 29, 1, 1, 1, 0.7318389674842187, 1), (0, 0.0, 0, 0, 7, 118, 40, 34, 0, 1, 8, 0.012369097946649985, 0), (0, 0.0, 0, 0, 7, 231, 39, 35, 0, 2, 2, 0.2666906934556679, 0), (0, 0.0, 0, 0, 7, 179, 53, 25, 0, 1, 1, 0.0960731564962269, 0);'

In [58]:
cursor.execute(insert_query)

40

In [59]:
conn.commit()

In [60]:
conn.close()